@mixin header1($color) {
  font-size: 48px;
  font-weight: bold;
  color: $color;
}

@mixin header2($color) {
  font-size: 36px;
  font-weight: bold;
  color: $color;
}

@mixin header3($color) {
  font-size: 24px;
  color: $color;
}

@mixin header4($color) {
  font-size: 16px;
  color: $color;
}

@mixin text1($color) {
  font-size: 16px;
  color: $color;
}

@mixin text2($color) {
  font-size: 20px;
  color: $color;
}
