body, form, div, ul, li, a, h1, h2, h3, h4, h5, span, nav,
i, input, button, p, img, label, header {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  font-family: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  list-style: none;

  background: transparent;
}
