@import '../base/font_sizes';
@import '../base/colors';

$about-info-h-padding: 10px;
$about-v-seperation: 25px;

.about-header {
  @include header1($color: $main-color);
}

.about-general {
  @include header3($color: $secondary-color);
  font-weight: bold;
  padding: $about-v-seperation $about-info-h-padding;
}

.about-specific {
  @include text2($color: $secondary-color);
  padding: 0 $about-info-h-padding;
}
