@import '../layouts/main';
@import '../base/colors';

$content-section-seperator-height: 3px;

.banner-wrapper {
  padding-left: $nav-bar-width;
  height: $banner-height;
  overflow: hidden;
}

.banner-image {
  min-width: 100%;
  height: $banner-height;
}

.main-content {
  position: relative;
  margin-left: $nav-bar-width;
  padding: 0 $main-content-h-padding;
}

.content-section {
  padding: 50px 0;
}

.content-section-seperator {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: $content-section-seperator-height;
  background-color: $content-section-seperator-color;
}
