@import '../layouts/main';
@import '../base/font_sizes';
@import '../base/colors';

$portrait-width: 150px;
$portrait-top-margin: 25px;

$my-name-top-margin: 15px;
$nav-list-top-margin: 50px;
$nav-item-padding: 5px;

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: $nav-bar-width;
  background-color: $main-color;
}

.portrait {
  width: $portrait-width;
  margin-left: ($nav-bar-width - $portrait-width)/2;
  margin-top: $portrait-top-margin;
  border-radius: 50%;
  cursor: pointer;
}

.my-name {
  @include header2($color: $nav-bar-text-color);
  text-align: center;
  margin-top: $my-name-top-margin;
  cursor: pointer;
}

.my-title {
  @include header4($color: $nav-bar-text-color);
  text-align: center;
  font-style: italic;
}

.nav-list {
  margin-top: $nav-list-top-margin;
}

.nav-item {
  @include header3($color: $nav-bar-text-color);
  text-align: center;
  padding: $nav-item-padding 0;
  border-bottom: 1px solid $nav-bar-text-color;
  transition: color 0.75s, background-color 0.75s;
}

.nav-item.selected {
  color: $main-color;
  background-color: #fff;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item:last-of-type {
  border-bottom: none;
}

.nav-bar-contact-icons {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: absolute;
  bottom: 25px;
  left: 15%;
  width: 70%;
  @include header2($color: $nav-bar-text-color);
}

.nav-bar-contact-icons > li {
  cursor: pointer;
  transition: font-size 0.25s;
}

.nav-bar-contact-icons > li:hover {
  font-size: 42px;
}
