@import '../base/font_sizes';
@import '../base/colors';

$skill-image-scale: 60%;
$skill-row-top-padding: 25px;
$skill-text-top-padding: 10px;

.skills-header {
  @include header1($color: $main-color);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: $skill-row-top-padding;
}

.skill {
  flex-basis: 20%;
  text-align: center;
  @include header4($color: $secondary-color);
}

.skill img {
  width: $skill-image-scale;
  height: auto;
}

.skill p {
  padding-top: $skill-text-top-padding;
}
